.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
minikube-linux-amd64
configmap-argocd

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
